* {
}

body {
    background-color:#7796ca;
    font-size: 16px;
    color:black;
    font-family: sans-serif;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color:#5e9ae9;
    height: 6em;
}
header h1{
    text-align: center;
    color: rgb(1, 0, 2);
    background-color: #75a1ec;
}
img{
    width: 10%;
    border-radius: 30px;
}
main{
    background-color: rgb(104, 128, 238);
}
footer{
    background-color: #5f8cda;
}