* {
}

body {
    background-color:#7796ca;
    font-size: 16px;
    color:black
}

header {
    background-color:#446a9b;
    height: 6em;
}
header h1{
    text-align: center;
    color: rgb(67, 67, 219);
}
img{
    width: 50%;
}